.vscode
*.tfstate*
.nyc_output/
out/
node_modules/
/build/
docs/_build/
coverage/
npm-debug.log
docs/schema-reference.rst
docs/do.schema.json
dist/
test/env/terraform/plans/openstack/.terraform*
test/logs
test_harness.json
harness_facts.json
*.swp
